


<div class="container" style="margin-top: 10%;">

  <div class="text-center" style="margin-bottom: 2%;">
    <button class="btn btn-primary" (click)="Refresh()">Refresh</button> <br>

    Titre     : <input type="text" [(ngModel)]="titre">
    Description  : <input type="text" [(ngModel)]="desciption">
<button class="btn btn-success"  (click)="addFilm()">Add</button>
  </div>

<table class="table table-bordered border-primary">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Titre</th>
    <th scope="col">Description</th>
    <th scope="col">Action</th>

  </tr>
</thead>
<tbody>
  <tr *ngFor="let film of films  index as i">
    <th >{{i+1}}</th>
    <th> {{ film.titre }} </th>
    <th> {{ film.desciption }} </th>
    <th><button class="btn btn-danger" (click)="remove(i)">remove</button> </th>

  </tr>

</tbody>
</table>

</div>
