


    <!-- ======== main-wrapper start =========== -->
    <main class="main-wrapper">
      <!-- ========== header start ========== -->

      <!-- ========== header end ========== -->

      <!-- ========== tab components start ========== -->
      <section class="tab-components">
        <div class="container-fluid">
          <!-- ========== title-wrapper start ========== -->
          <div class="title-wrapper pt-30">
            <div class="row align-items-center">
              <div class="col-md-6">
                <div class="title mb-30">
                  <h2>Nouvelle categorie</h2>
                </div>
              </div>
              <!-- end col -->

              <!-- end col -->
            </div>
            <!-- end row -->
          </div>
          <!-- ========== title-wrapper end ========== -->

          <!-- ========== form-elements-wrapper start ========== -->
          <div class="form-elements-wrapper">
            <div class="row">
              <div class="col-lg-12">

                <div class="alert alert-danger text-danger text-center"[class.d-none]="messageErreur == ''" role="alert">
                  {{messageErreur}}
                </div>

                <div class="alert alert-success text-success text-center"[class.d-none]="messageSuccess == ''" role="alert">
                  {{messageSuccess}}
                </div>

                <form #catForm="ngForm"  (ngSubmit)="saveCategorie()">
                  <div class="card-style mb-30">
                    <h6 class="mb-25"></h6>
                    <div class="input-style-1">
                      <label>libelle</label>
                      <input type="text" name="libelle" id="libelle" (keyup)="categorieLong(catLibelle.value)" required
                      [class.is-invalid]="categorieError || (catLibelle.invalid && catLibelle.touched)" [class.is-valid]="catLibelle.valid"
                      #catLibelle="ngModel" [(ngModel)]="libelle" tabindex="2" class="form-control" placeholder="libelle">
                    </div>

                    <div *ngIf="categorieError || (catLibelle.touched && catLibelle.invalid)">
                      <small class="text-danger" [class.d-none]="catLibelle.untouched || catLibelle.valid"> Veuillez remplir ce champ</small>
                      <small class="text-danger" [class.d-none]="!categorieError || catLibelle.value == ''"> Minumum 6 caractéres </small>
                   </div>
                  </div>

                  <input
                  [disabled]="catForm.form.invalid || categorieError"
                  class = "form-control main-btn primary-btn btn-hover w-100 text-center"
                  type="submit"
                  value="Ajouter"
                />
                </form>


              </div>

            </div>
            <!-- end row -->
          </div>

        </div>
        <!-- end container -->
      </section>
      <!-- ========== tab components end ========== -->

      <!-- ========== footer start =========== -->
      <footer class="footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 order-last order-md-first">
              <div class="copyright text-center text-md-start">
                <p class="text-sm">
                  Designed and Developed by
                  <a
                    href="https://plainadmin.com/"
                    rel="nofollow"
                    target="_blank"
                  >
                    PlainAdmin
                  </a>
                </p>
              </div>
            </div>
            <!-- end col-->
            <div class="col-md-6">
              <div
                class="terms d-flex justify-content-center justify-content-md-end"
              >
                <a href="#0" class="text-sm">Term & Conditions</a>
                <a href="#0" class="text-sm ml-15">Privacy & Policy</a>
              </div>
            </div>
          </div>
          <!-- end row -->
        </div>
        <!-- end container -->
      </footer>
      <!-- ========== footer end =========== -->
    </main>
    <!-- ======== main-wrapper end =========== -->


